body {
    margin: 0;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 1080px;
}

h1 {
    text-align: center;
}

td {
    text-align: center;
}

.td-text {
    text-transform: capitalize;
}

.td-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.td-image img {
    display: block;
    object-fit: cover;
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all .7s;
}

.td-image img:hover {
    transform: scale(1.05)
}

.custom-table {
    margin: auto;
    width: 100%;
}

.new {
    border: 1px solid silver;
}

.button-filter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.button-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.button-delete {
    cursor: pointer
}