body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 1080px;
}

.loading {
    text-align: center;
    display: none;
    padding: 20px;
    font-size: large;
}

.loading.show {
    display: block;
}

h1 {
    text-align: center;
}

td {
    text-align: center;
}

.td-text {
    text-transform: capitalize;
}

.td-image img {
    background-color: #333;
    object-fit: cover;
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all .7s;
}

.td-image img:hover {
    transform: scale(1.05)
}

.tag {
    display: block;
    padding: 5px 10px;
    background-color: #727171;
    border-radius: 5px;
    margin: 5px;
    font-weight: 700;
    color: white;
}

.custom-table {
    width: 100%;
    border: 0;
}

.custom-table th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    border: 1px solid silver;
}

.custom-table tbody td {
    border-bottom: 1px solid silver;
}

.new {
    border: 1px solid silver;
}

.button-filter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.button-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.button-delete {
    cursor: pointer
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-modal-btn {
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 25px;
    padding: 0;
}

.modal-image {
    width: 100%;
}

.description {
    text-align: center;
}
